@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');


html{
    box-sizing: border-box;
}

body{

    color: black;
    margin: 0;
    background-color: #c9cedc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Spartan, sans-serif;
    font-size: 13px;
}

.img-container {
    height: 300px;
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.player-container {
    margin-top: 80px;
    height: 500px;
    width: 400px;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);

}

.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3);
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px ;
    height: 4px;
}

.progress {
    background: #242323;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear; 
}

.duration-wrapper {
    position: relative;
    font-size: 14px;
    font-weight: 1000px;
    top: -25px;
}

#duration {
    margin-left:300px ;
}

.player-controls {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}

.fas {
    font-size: 30px;
    color: rgb(101, 100, 100);
    margin-right: 35px;
    cursor: pointer;
    user-select: none;
}


.fas:hover {
    filter: brightness(80%);
}

h2 {
    font-size: 25px;
    text-align: center;
    margin: 0%;
}

h3 {
    font-size: 15px;
    text-align: center;
    margin: 0%;
}

.github {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
    padding: 3px;
}

.fa-github-alt {
    font-size: 3.5rem;
    color: black;
    text-shadow: 1px 1px 4px black;
}

.fa-github-alt:hover {
    color: rgb(62, 62, 62);
}

@media screen and (max-width: 400px) 
{
    .player-container{
        margin-top: 120px;
        height: 500px;
        width: 350px;
        background: #e7e7e7;
        border-radius: 15px;
        box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    }

    .img-container{
        height: 300px;
        width: 270px;
        position: relative;
        top: -50px;
        left: 40px;
    }

    .img-container img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3)
    }

    h2{
        font-size: 23px;
        text-align: center;
        margin: 0%;
    }

    h3{
        font-size: 13px;
        text-align: center;
        margin: 0%;
    }

    .progress-container {
        background: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin: 40px 20px ;
        height: 4px;
    }

    .progress{
        background: #242323;
        border-radius: 5px;
        height: 100%;
        width: 0%;
        transition: width 0.1s linear;
    }

    .duration-wrapper{
        position: relative;
        font-size: 14px;
        font-weight: 1000px;
        top: -25px;
    }

    #duration{
        margin-left:270px ;
    }

    .player-controls{
        position: relative;
        top: -15px;
        left: 95px;
        width: 200px;

    }

    .fas{
        font-size: 30px;
        color: rgb(101, 100, 100);
        margin-right: 35px;
        cursor: pointer;
        user-select: none;

    }

    .fas:hover {
        filter: brightness(80%);
    }

    .github {
        position: absolute;
        z-index: 1;
        top: 4%;
        left: 4%;
        padding: 3px;
    }

    .fa-github-alt {
        font-size: 2.5rem;
        color: black;
        text-shadow: 1px 1px 4px black;
    }
}